[user]
	name = Mathias Soeholm
	email = mathiassoeholm@gmail.com
[core]
	editor = nvim

# Override some settings for LEGO repositories
[includeIf "gitdir:~/git/setsnail/"]
  path = ~/git/setsnail/.gitconfig
